.container {
  padding: 3rem 12.5rem 4.75rem 4.75rem;
}

.intro {
  h1 {
    margin-bottom: 20px;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 20px;
  }

  a {
    text-decoration: underline;
  }

  margin-bottom: 40px;
}
